html
{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;

    background: #fff url('../img/geometry2.png');
}
.main
{
    display: flex;

    justify-content: center;
}
.container
{
    display: flex;
    flex-direction: column;

    margin-top: 55px;
    margin-left: 20px;

    align-items: center;
}

.container div
{
    font-size: 20px;

    margin-bottom: 30px;
}

/*
 * Styles for the deck of cards
 */

.deck
{
    display: flex;

    width: 750px;
    min-height: 580px;
    margin: 0 0 3em;
    padding: 32px;

    border-radius: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .5);

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.deck .card
{
    font-size: 0;

    display: flex;

    width: 100px;
    height: 100px;

    cursor: pointer;

    color: #fff;
    border-radius: 8px;
    background: #2e3d49;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, .5);

    justify-content: center;
    align-items: center;
}
.num
{
    width: 125px;
    margin-bottom: 5px;
    padding-right: 20px;

    list-style: none;

    text-align: center;
}

.deck .card.open
{
    cursor: default;
    transform: rotateY(0);

    background: #02b3e4;
}

.deck .card.error
{
    cursor: default;
    transform: rotateY(0);

    background: red;
}

.deck .card.show
{
    font-size: 33px;
}

.deck .card.match
{
    font-size: 33px;

    cursor: default;

    background: #02ccba;
}



.warn
{
    display: flex;

    width: 25px;
    height: 25px;

    cursor: pointer;

    color: #fff;
    border-radius: 8px;
    background: #2e3d49;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, .5);

    justify-content: center;
}

.warn.match
{
    cursor: default;

    background: #02ccba;
}

.warn.error
{
    cursor: default;

    background: red;
}


.right
{
    display: flex;
    flex-direction: column;

    padding-left: 40px;
}
.symbol
{
    display: flex;

    width: 200px;
    margin-top: 115px;

    justify-content: space-between;
}
.symbol-container
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.text
{
    font-size: 12px;
    font-weight: bold;

    margin-top: 5px;
    margin-left: 5px;
}
.message
{
    font-size: 14px;

    display: flex;
    flex-direction: column;

    height: 200px;
    margin-top: 40px;
}

.message span
{
    width: 200px;
    margin-bottom: 16px;

    letter-spacing: 2px;

    color: #00d2ba;
}

.message .faile
{
    color: red;
}
.message .saved
{
    color: black;
}
.state
{
    font-weight: bold;

    display: flex;
    flex-direction: column;

    height: 535px;
    margin-top: 10px;

    color: red;
    border: 1px solid #d6d4d6;
    border-radius: 5px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, .5);
}
.title
{
    font-size: 20px;

    text-align: center;
    letter-spacing: 3px;

    color: black;
}
/*
 * Styles for the Score Panel
 */
